{% extends 'nav-common.html' %}
{% load static %}
{% block body %}
<div class="container">
<h2 class="text-center">Add Patient</h2>
        <form method="post">
            {% csrf_token %}


    <label >Patient Name
        <input type="text" class="form-control" name="name" required>
    </label>
    <label >Last Name
        <input type="text" class="form-control" name="last" required>
    </label>
    <label >Gender
        <input type="radio"  name="gender" value="male" >Male
        <input type="radio"  name="gender" value="female" >Female
    </label>
    <label >Contact
        <input type="number" class="form-control"  name="contact" required>
    </label>
    <label >Address
        <textarea class="form-control"  name="address" required></textarea>
    </label>
  <button type="submit" class="form-control btn btn-primary" value="submit">Submit</button>
</form>
    </div>

    {% ifequal error "no" %}
    <script>
        alert('Record Saved successfully');
        window.location=('{% url 'view_patient' %}');
    </script>
    {% endifequal %}

    {% ifequal error "yes" %}
    <script>
        alert('Something went Wrong,Try Again');
    </script>
    {% endifequal %}

{% endblock %}