{% extends 'nav-common.html' %}
{% load static %}
{% block css %}

    .container{
        padding: 50px;
        background: rgba(224,229,204,0.67);
        border-radius: 20px;
    }

    {% endblock %}


{% block body %}
    <div class="container my-4 ">
        <h1 class="text-center">How You Can Reach..</h1>
        <br><br>
            <div class="row mt-5 text-center">
                <div class="col-lg-3 col-sm-6 mydivstyle">
                    <h4><i class="fas fa-phone-square"></i> Contact</h4>
                    <p class="my-3 font-weight-bold"><a class="text-danger" href="tel:+91 9022516902">+91 9022516902</a></p>
                </div>
                <div class="col-lg-3 col-sm-6 mydivstyle">
                    <h4> <i class="fas fa-envelope"> </i> Send Email</h4>
                    <p class="my-3 font-weight-bold"><a class="text-danger" href="mailto:sagaryadav161997@gmail.com">sagaryadav161997@gmail.com</a></p>
                </div>
                <div class="col-lg-3 col-sm-6 mydivstyle">
                    <h4><i class="fas fa-address-card"></i> Address</h4>
                    <p class="my-3 font-weight-bold"><a class="text-danger"target="_blank" href="http://maps.google.com/maps?q=Lifeline+Hospital+kamptee">Lifeline Hospital Kamptee</a></p>
                </div>
                <div class="col-lg-3 col-sm-6 mydivstyle">
                    <h4><i class="fas fa-phone-square"></i> Office Hours</h4>
                    <p class="my-3 font-weight-bold text-danger"> 9:00 AM - 7:00 PM</p>
                </div>
            </div>
    </div>

{% endblock %}